albumentations
beautifulsoup4
certifi
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
gdown
idna
imageio
joblib
kiwisolver
matplotlib
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
Pillow
pyparsing
PySocks
python-dateutil
pytz
PyWavelets
PyYAML
qudida
requests
scikit-image
scikit-learn
scipy
seaborn
six
soupsieve
thop
threadpoolctl
tifffile
torch
torchvision
tqdm
typing-extensions
urllib3
